.chatMembers {
    float: left;
    position: absolute;
    height: 100%;
    width: 18%;
    background-color: #465e8b;
    border-bottom: 3px solid rgba(194, 214, 238, 0.24);
}

.chatMembers > .coversationList > ul {
    list-style-type: none;
    padding: 20px;
    border-bottom: 3px solid rgba(194, 214, 238, 0.24);
    color: #ffa55d;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 225px;
    border: 1px solid white;
}

.chatMembers > .coversationList > ul img {
    width: 55px;
    height: 55px;
    border-radius: 225px;
    border: 2px solid white;
}

.chatMembers > .coversationList > ul > li span {
    color: white;
    line-height: 15px;
    font-size: 20pt;
    font-weight: 500;
    position: relative;
}

.chatMembers > .coversationList > ul > li {
    padding: 3%;
    border-bottom: 3px solid rgba(194, 214, 238, 0.24);
    width: 100%;
}

.statusOnline:before {
    content: '';
    display: inline-block;
    height: 16pt;
    width: 16pt;
    background-image: url("../src/online.png");
    background-size: 100%;
}

.statusOffline:before {
    content: '';
    display: inline-block;
    height: 16pt;
    width: 16pt;
    background-image: url("../src/offline.png");
    background-size: 100%;
}