body {
    background-color: #edf9ff;
    font-family: 'New Century Schoolbook', serif;
    font-size: 16px;
    font-weight: bold;
}

#header {
    position: inherit;
}

#chatLogoOffline {
    display: none;
}

.chatLogo {
/ / width: 12 %;
/ / padding: 2 %;
    width: 10%;
    height: 10%;
    border: none;
    margin: 1%;

}

#loginArea {
    margin-top: 1%;
    margin-right: 5%;

}

#header {
    background-color: #465e8b;
/ / background-color: rgba(68, 87, 139, 0.64);
}

#loginButton {
    border-radius: 7px;
    border-bottom-style: groove;
}

#loginTextArea {
    border-radius: 7px;
    border-bottom-style: groove;

}

#loginArea {
    float: right;
    padding: 3%;

}